.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #54bf56, #87f5ba, #c1f5d9);
  color: white;
}

.header-logo {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.header-logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.site-footer {
  background-image: linear-gradient(#69d893, white);
  padding: 20px 0;
}
